@tailwind base;
@tailwind components;
@tailwind utilities;


.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .layer1 {
    background-image: url('F:\Universitate\Code\TAW\psymed\src\assets\divMintUp.svg');
  }