@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;




.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.divMintUp {
  background-image: url("src/assets/divmintup.svg");
}

.divMintDown {
  background-image: url("src/assets/divMintDown.svg");
}

.divMintUp2 {
  background-image: url("src/assets/divMintUp2.svg");
}

.divMintDown2 {
  background-image: url("src/assets/divMintDown2.svg");
}

.footer {
  background-image: url("src/assets/footer.svg");
}



